<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Path</th>
            <th scope="col">Sent</th>
            <th scope="col">Extracted</th>
            <th scope="col">WorkingOn</th>
            <th scope="col">Error</th>
            <th scope="col">Errormessage</th>
            <th scope="col">Delete</th>
            <th scope="col">Retry</th>
        </tr>
        </thead>
        <tbody id="artb">

        </tbody>
    </table>

</div>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>

    $(document).ready(function () {
        console.log("ready!");
    });
    $.get("/api/archives", function (data) {
        console.log(data);
        for (let i = 0; i < data.length; i++) {
            console.log(i);
            $("#artb").append("<tr id='" + data[i]._id + "'><td>" + data[i].filepath + "</td><td>" + data[i].senttoextractor + "</td><td>" + data[i].extracted + "</td><td>" + data[i].workingon + "</td><td>" + data[i].error + "</td></tr>");
            if (data[i].errormessage) {
                $("#" + data[i]._id).append("<td>" + data[i].errormessage + "</td>");
            } else {
                $("#" + data[i]._id).append("<td></td>");
            }
            $("#" + data[i]._id).append("<td><button buttonid=" + data[i]._id + " type=\"button\" class=\"btn btn-danger\">Delete</button></td><td><button retrybuttonid=" + data[i]._id + " type=\"button\" class=\"btn btn-warning\">Retry</button></td>");
        }
    });

    $("body").on("click", ".btn", function () {
        let id = $(this).attr('buttonid');
        let retryid = $(this).attr('retrybuttonid');
        postdata = {
            senttoextractor: false,
            extracted: false,
            workingon: false
        }
        if (id) {
            $.ajax({
                url: '/api/archives/' + id,
                type: 'DELETE',
                success: function (result) {
                    console.log(id);
                    $("#" + id).remove();
                    console.log("its been deleted");
                }
            });


        }
        else {
            $.ajax({
                url: '/api/archives/' + retryid,
                type: 'PUT',
                data: postdata,
                success: function (result) {
                    console.log(retryid);
                    console.log("its been deleted");
                    location.reload();
                }
            });
        }

        //$.delete( "/api/archives/" + $(this).attr('buttonid'), function(data) {


        //})
        console.log($(this).attr('buttonid'));
    });


    //$("#ardb")


</script>


<script src="/js/index.js"></script>
